<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <StackExchange_DisableAdvancedSearch>
            <version>1.0.0</version>
        </StackExchange_DisableAdvancedSearch>
    </modules>
    <global>
        <helpers>
            <stackexchange_disable_advancedsearch>
                <class>StackExchange_DisableAdvancedSearch_Helper</class>
            </stackexchange_disable_advancedsearch>
        </helpers>
        <models>
            <stackexchange_disable_advancedsearch>
                <class>StackExchange_DisableAdvancedSearch_Model</class>
            </stackexchange_disable_advancedsearch>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_catalogsearch_advanced_index>
                <observers>
                    <stackexchange_disable_advancedsearch_index>
                        <class>stackexchange_disable_advancedsearch/observer</class>
                        <method>disableAdvancedSearch</method>
                    </stackexchange_disable_advancedsearch_index>
                </observers>
            </controller_action_predispatch_catalogsearch_advanced_index>
            <controller_action_predispatch_catalogsearch_advanced_result>
                <observers>
                    <stackexchange_disable_advancedsearch_results>
                        <class>stackexchange_disable_advancedsearch/observer</class>
                        <method>disableAdvancedSearch</method>
                    </stackexchange_disable_advancedsearch_results>
                </observers>
            </controller_action_predispatch_catalogsearch_advanced_result>
        </events>
    </frontend>
    <default>
        <catalog>
            <search>
                <enable_advanced_search>1</enable_advanced_search>
            </search>
        </catalog>
    </default>
</config>
